.JOJO {
	border: 1pt solid #000;
	width: 200px;
	height: 90px;
	margin:auto;
}
p{
	font-size: 30px;
	padding-left: 20px
}
ul {
	list-style-type: square;
	j=
	

}
body {
	background-color: pink;

}
li{
	

		}